
/*Exercicio 1*/
.grid-container {
    display: grid;
    background-color: #2196F3;
    padding: 5px;
    grid-template-columns: auto auto auto auto auto; /*a quantidade de parametros define a quantidade de colunas podendo cada parametro ser automatico ou com tam fixo*/
    gap: 5px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  /*Termino do exercicio 1*/